*
!src
!module
!gui
!docs
!debug
!core
!.github

!.editorconfig
!.gitignore
!ATX.apk
!LICENSE
!REDME.md
!bulid.bat
!img.png
!installer.py
!main.py
!minitouch.py
|requirements.txt
!ui.png
!windows.py
!window.spec