/*

!src
!module
!gui
!docs
!debug
!core
!device_operation
!.github

!.editorconfig
!.gitignore
!ATX.apk
!LICENSE
!README.md
!build.bat
!img.png
!installer.py
!main.py
!minitouch.py
!requirements.txt
!ui.png
!window.py
!window.spec
!i18n.pro
!auto_translate.py
src/explore_task_data/__pycache__/normal_task_11.cpython-39.pyc
*.pyc
*.xml
module/.idea/.name
