lmdb
PyQt5
numpy < 2.0
av == 12.0.0
imgaug
win11toast
adbutils == 2.2.1
uiautomator2 == 2.16.23
opencv-python == 4.8.1.78

PyQt-Fluent-Widgets == 1.2.0
# gevent

#windows installer auto build
pyinstaller
requests
dulwich
psutil
tqdm

