# =========================== #
#         Core Utils          #
numpy < 2.0                   #
setuptools                    #
adbutils == 2.2.1             #
uiautomator2 == 2.16.23       #
opencv-python == 4.8.1.78     #
# =========================== #

# =========================== #
#    Process & Screenshot     #
psutil                        #
requests                      #
# =========================== #

# =========================== #
#     Toml Config Process     #
tomli == 2.2.1                #
tomli_w == 1.2.0              #
# =========================== #

# =========================== #
#    Steam Server Specific    #
mss == 10.0.0                 #
PyAutoGUI == 0.9.54           #
# =========================== #

# =========================== #
#      Service Specific       #
pygit2                        #
fastapi                       #
uvicorn                       #
websockets                    #
watchfiles                    #
cryptography                  #
# =========================== #
