kivy
python3
pyjnius
shiboken6
PySide6
numpy
opencv
debugpy
git+https://github.com/XcantloadX/pyadbserver.git@e5d20876a21f859209caf9cd5b29b22088499961
typing_extensions
adbutils==2.2.1
apkutils2==1.0.0
cached-property==1.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
cigam==0.0.3
colorama==0.4.6
darkdetect==0.8.0
decorator
deprecated==1.2.18
deprecation==2.1.0
dulwich==0.24.2
filelock==3.19.1
idna==3.10
logzero==1.7.0
lxml==6.0.2
packaging==20.9
pillow==11.3.0
progress==1.6.1
py==1.11.0
pyelftools==0.32
pyparsing==3.2.5
pyside6-fluent-widgets==1.2.0
pysidesix-frameless-window==0.7.3
qtpy==2.4.3
requests==2.32.5
retry==0.9.2
shiboken6==6.4.2
six==1.17.0
tomli==2.2.1
tomli-w==1.2.0
typing-extensions==4.15.0
uiautomator2==2.16.23
urllib3==2.5.0
whichcraft==0.6.1
wrapt==1.17.3
xmltodict==1.0.2
